.category
{
    margin-left: .7rem;
    
    font-size: 1.3rem;
}

.category::before
{
    content: "# ";
}

.category::after
{
    content: ","
}

.category:last-child::after
{
    content: "";
}